@import '@/styles/variables.scss';

$pre-color: $light;
$app-menu-max-width: 300px;
$app-main-max-width: 770px;

$modal-backdrop-bg: rgba(darken($dark, 10%), .5);
$code-color: $info;

$link-color: #000;
$link-decoration: none;
$link-hover-color: $primary;
$link-hover-decoration: none;
