@import '@/styles/variables.scss';
@import '@/styles/lib.scss';

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue-next/dist/bootstrap-vue-next';

.bg-polka {
  background-color: #e6e6e6;
  background-image: radial-gradient(#000000 0.5px, #e6e6e6 0.5px);
  background-size: 10px 10px;
}

@include color-mode(dark) {
  .bg-polka {
    background-color: #333;
    background-image: radial-gradient(#eee 0.5px, #333 0.5px);
    background-size: 10px 10px;
  }
}

h1 {
  font-family: var(--bs-font-sans-serif) !important;
  font-weight: var(--bs-body-font-weight);
  font-size: 2.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bs-font-sans-serif);
  font-weight: var(--bs-body-font-weight);
}

pre.prismjs {
  padding: 0.75rem;
  font-size: 1rem;
}
